body {
  font-family: "Trebuchet MS", sans-serif;
}

button {
  width: 170px;
  height: 55px;
  background-color: rgb(50, 36, 37);
  border-radius: 20px;
  color: white;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  
  font-weight: 600;
  margin: 20px;
}

button:hover {
  background: rgb(11, 3, 4);
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

h2 {
  margin-bottom: 0px;
  margin-left: 20px;
}
